

.videoPlayer {
    margin-top: 100px;
}

.placeholderDiv {
    background-color: transparent;
    height: 70px;
  }

.backgroundImage img {
    position: absolute;
    width: 100%;
    z-index: -1;
    transform: translate(0,-60vh);
    filter:blur(40px) brightness(50%)
}

.playerDiv {
    background-color: var(--header-color);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width:fit-content;
    margin-left: 40px;
    margin-top: 40px;
}

.episodesDiv {
    background-color: var(--background-color);
    height: 39.375vw;
    overflow-y: auto;
}

.videoPlayer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
}

.video {
    width: 70vw;
    height: 39.375vw;
}

.episodeBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    height: 45px;
    cursor: pointer;
}

.episodeBox h1 {
    font-weight: 500;
    font-size: 1.3em;
    width: 30px;
    padding-left:15px;
    align-self: center;
}

.episodeBox:nth-child(even) {
    background-color: var(--header-color);
}

.episodeBox:hover {
    background-color: gray;
}

.episodeBox.active {
    border-left: 4px solid var(--accent);
    width: 246px;
}

.episodeBox.active h1 {
    color: var(--accent)
}

@media (max-width:1028px) {

    .playerDiv {
        background-color: var(--header-color);
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        width:fit-content;
        max-width: 70%;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 40px;
    }

    .video {
        width: 90vw;
        height: 50.625vw;
    }

    .episodeBox {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 90vw;
        height: 45px;
    }
    
    .episodeBox h1 {
        font-weight: 500;
        font-size: 1.3em;
        width: 30px;
        padding-left:15px;
        align-self: center;
    }
    
    .episodeBox.active {
        border-left: 4px solid var(--accent);
        width: calc(90vw - 4px);
    }

}