:root{
  --background-color: rgba(35,35,35,255);
  --header-color: rgba(25,25,25,255);
  --button-color: rgba(42,43,49,255);
  --accent: #0be0e0;
  --text-color: whitesmoke;
  --accent-hover: #29aba2;
}

/* @media (prefers-color-scheme: dark) {

} */

html {
  color-scheme: dark;
  overflow-x: hidden;
}

.not-found {
  text-align: center;
}
.not-found a{
  color: var(--accent);
}
.not-found a:hover{
  color: var(--accent-hover);
}